<ion-view cache-view="false">
    <ion-content>
        <form>
            <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon"></div>
                    <h1>BookKeeping</h1>
                </div>
            </div>
            <!--<div class="list">-->
                <!--<ion-md-input placeholder="Email" highlight-color="balanced" type="text" ng-model="user.email"></ion-md-input>-->
                <!--<ion-md-input placeholder="Password" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input>-->
            <!--</div>-->


            <div class="list card">
                <div class="item item-body">

                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <input ng-model="user.email" type="text">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input ng-model="user.password" type="password">
                        </label>
                    </div>
                </div>
            </div>

            <div class="padding">
                <button ng-click="signin()" class="button button-full button-assertive ink">Login</button>
            </div>
            <div class="padding">
                <a class="button button-full button-calm ink" type="submit" ng-click="register()">Register</a>
            </div>

            <!--<input class="button button-calm" type="submit" ng-click="signin()" value="Login" />-->
            <!--<a class="button button-calm" type="submit" ng-click="register()">Register</a>-->
        </form>
    </ion-content>
</ion-view>
